.page-title{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: white;
    margin: 2rem 0;
}
.div-container h3{
    color: white;
    font-weight: 300;
    font-size: 28px;
}
.movie-poster{
    width: 90%;
    transform: scale(1);
    transition: transform 0.2s;
}
.movie-poster:hover{
    transform: scale(1.1);
}
.div-container h3{
    margin-left: 60px;
}
.div-container{
    margin: auto;
    position: relative;
}
/* Carousel */
.rec.rec-arrow{
    font-size: 1rem;
    height: 10rem;
    box-shadow: none;
    border-radius: 0;
    background: none;
}
.rec.rec-arrow:disabled{
    color: transparent;
}
.rec.rec-pagination{
    display: none;
}
.view-all-btn-container{
    text-align: center;
    margin: 2rem auto;
}
.show-more-btn{
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: white;
    background-color: transparent;
    margin-bottom: 1rem;
    transition: text-decoration-color 0.2s;
    text-decoration-color: rgba(255,255,255, 0);
}
.show-more-btn:hover{
    text-decoration-color: rgba(255,255,255,100);
}
.jRFJkP:hover:enabled, .jRFJkP:focus:enabled{
    background-color: transparent !important;
    box-shadow: none !important;
}
@media only screen and (max-width: 900px){
    .div-container h3{
        font-size: 24px;
    }
}
@media only screen and (max-width: 550px){
    .div-container h3{
        font-size: 20px;
    }
}